{% extends 'base_app/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                {% if not next and user.is_authenticated %}
                    <p>Jesteś już zalogowany, przejdź do strony głównej</p>
                    <a href="{% url 'base_app:index' %}" class="btn btn-sm btn-primary">Strona główna</a>
                {% else %}
                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Twoje konto nie ma uprawnień do strony którą chcesz wyświetlić.</p>
                        {% else %}
                            <p>Zaloguj się, żeby zobaczyć tą stronę</p>
                        {% endif %}
                    {% endif %}
                    <div class="card mt-3">
                        <div class="card-header">
                            Zaloguj się
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{% url 'login' %}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary">Zaloguj</button>
                                <input type="hidden" name="next" value="{{ next }}">
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}