{% extends "base_app/new_base.html" %}
{% load static %}
{% block head_before %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link rel="stylesheet" href="{% static 'awesome_markers/leaflet.awesome-markers.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
{% endblock head_before %}
{% block head %}
    <style>
        #map {
            position: relative;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

        .awesome-marker i {
            font-size: 22px;
            margin-top: 6px;
        }
    </style>
{% endblock head %}
{% block head_after %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="{% static 'awesome_markers/leaflet.awesome-markers.js' %}"></script>
    <script src="https://cdn.rawgit.com/hayeswise/Leaflet.PointInPolygon/v1.0.0/wise-leaflet-pip.js"></script>
{% endblock head_after %}
{% block content %}
    <div class="card h-100" style="padding: 0;">
        <div class="card-body">
            <div id="map"></div>

            <div id="alertFormModal" class="modal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h5 class="modal-title">Dodaj zgłoszenie</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="alert_latitude" class="form-label">Szerokość geograficzna</label>
                                        <input id="alert_latitude" name="latitude" type="text" class="form-control" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label for="alert_longitude" class="form-label">Długość geograficzna</label>
                                        <input id="alert_longitude" name="longitude" type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label for="priority_select" class="form-label">Priorytet</label>
                                        <select name="priority" id="priority_select" class="form-control">
                                            <option value="1">Normalny</option>
                                            <option value="2">Średni</option>
                                            <option value="3">Wysoki</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label for="alert_additional_info" class="form-label">Opis zgłoszenia</label>
                                        <textarea name="alert_additional_info" id="alert_additional_info" cols="20" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="save_alert_button" class="btn btn-primary">Zapisz zgłoszenie</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/maps_script.js' %}"></script>
    <script type="text/javascript">
        $('#people_button').click(function (e) {
            $(this).toggleClass('active');
        });

        const js_lookup = {
            'user_groups': {{ user_groups_names|safe }},
            'user_id': {{ user.id|safe }},
            'settings': {{ settings|safe }}
        }
        console.log(js_lookup);

        var main_app = new MainApp('map', js_lookup, 'send_button', 'alertFormModal');

    </script>
{% endblock scripts %}