{% extends "base_app/new_base.html" %}
{% block head_before %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
{% endblock head_before %}
{% block head %}
    <style>
        #map {
            position: relative;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock head %}
{% block head_after %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
{% endblock head_after %}
{% block content %}
    <div class="card h-100" style="padding: 0;">
        <div class="card-body">
            <div id="map"></div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
    // wroclaw center 51.1104/17.0317
    var map = L.map('map').setView([51.1104, 17.0317], 12);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        let msg = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
        var marker = L.marker([position.coords.latitude, position.coords.longitude]).addTo(map);
        alert(msg);
        marker.bindPopup(msg);
    }

    $(document).ready(function (e) {
        getLocation();
        const socket = new WebSocket(`ws://${window.location.host}/ws/base_app/`);
        socket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            console.log(data);
        }
    });
</script>
{% endblock scripts %}